@import "./config/variables.scss";

body {
  background: linear-gradient(to bottom right, $pink, $purple);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
