@import "../../config/variables.scss";

.todo-input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border: 1px solid $gray;
  border-radius: 10px;

  input {
    width: 350px;
    height: 100%;
  }

  button {
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: $yellow;
    border-radius: 50%;
  }
}
